<p class="title">Registrate tu restaurante!</p>


<!-- primer form -->
<mat-stepper class="custom-stepper"   [linear]="true" >
  
  <mat-step class="matStep" [stepControl]="firstFormGroup"  label="Step 1">
    <form [formGroup]="firstFormGroup" mat-dialog-content>
    
      <mat-form-field class="full-width">

        <mat-label>Nombre del restaurante</mat-label>

        <input matInput type="string" 
        formControlName="nombre"
        required />
      </mat-form-field>

      <mat-form-field class="full-width">

        <mat-label>Email</mat-label>

        <input matInput
         type="email"
         formControlName="email" 
         required />
      </mat-form-field>
      <mat-form-field class="full-width">
  <mat-label>Referencia de foto</mat-label>
  <input matInput type="text" formControlName="photoreference" />
</mat-form-field>
      
      
      <div mat-dialog-actions>
        <button class="cancelbutton" mat-dialog-close>cancelar</button>
        <button
          class="loginbutton"
          matStepperNext
          [disabled]="firstFormGroup.invalid">
          siguiente
        </button>
      </div>
        <!-- cierre del primer form -->
</form>

    </mat-step>
    <mat-step  [stepControl]="secondFormGroup" class="matStep" label="Step 2">
      <!-- segundo form -->
      <form [formGroup]="secondFormGroup"> 
        <mat-form-field class="full-width">
          <mat-label>descripcion</mat-label>
          <input
            matInput
            type="string"
            formControlName="descripcion"
            required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>domicilio</mat-label>
          <input
            matInput
            type="string"
            formControlName="domicilio"
            required />
        </mat-form-field>

        <mat-form-field class="full-width">
  <mat-label>Latitud</mat-label>
  <input matInput type="number" formControlName="latitude" required />
</mat-form-field>

<mat-form-field class="full-width">
  <mat-label>Longitud</mat-label>
  <input matInput type="number" formControlName="longitude" required />
</mat-form-field>



        <mat-form-field class="full-width">
        <mat-label>password</mat-label>
        <input
          matInput
          type="string"
          formControlName="password"
          required />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>repite la password</mat-label>
        <input
          matInput
          type="string"
          formControlName="password2"
          required />
      </mat-form-field>

        

       
        <div mat-dialog-actions>
          <button class="cancelbutton" matStepperPrevious>Regresar</button>
          <button class="loginbutton" (click)="onPost()">siguiente</button>
        </div>
        <!-- cierre del segundo form -->
      </form>
    </mat-step>
  </mat-stepper>

