@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.title {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 30px;
  margin-top: 50px;
  justify-content: center;
  display: flex;
}

.full-width {
  width: 100%;
}

.cancelbutton {
  font-family: 'Nunito';
  font-weight: 700;
  border-radius: 8px;
  background-color: rgb(255, 70, 70);
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  margin-right: 5px;
}

.cancelbutton:hover {
  background-color: rgb(255, 86, 86);
  transition: 0.3s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.178);
}

.loginbutton {
  font-family: 'Nunito';
  font-weight: 700;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  color: #333;
  cursor: pointer;
  border: 1px solid #ccc;
  font-size: 16px;
  text-transform: uppercase;
}

.loginbutton:hover {
  background-color: #f7f7f7;
  transition: 0.3s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.178);
}

.custom-stepper {
  .mat-step-header {
    all: unset; /* Reinicia casi todo */
    display: flex; /* Necesario para mantener estructura */
    align-items: center;
    background: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .mat-step-label {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px 5px 5px;
  }

  .mat-step-icon-selected {
    all: unset;
  }

  .mat-step-icon-state-done {
    all: unset;
  }

  .mat-stepper-horizontal-line {
    all: unset;
    border-top: none;
    height: 2px;
    background: transparent;
  }
}
