<header>
  <div class="top-bar">
    <div class="registroRestaurante">
      <a class="registroButton">Registrar mi restaurante</a>
    </div>
  </div>
  <div class="container">
    <h1 class="logo">LOGO</h1>
    <div class="busqueda">
      <input
        class="searchinput"
        type="text"
        placeholder="Busca tu plato favorito" />
      <button mat-icon-button class="searchbutton">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="acciones">
      <nav class="navigation">
        <a class="platosbutton" href="">Platos</a>
        <a class="Restaurantesbutton" href="">Restaurantes</a>
      </nav>
      <button class="loginbutton">Log In</button>
      <button class="signupbutton">Sign Up</button>
    </div>
  </div>
</header>
