<header>
  <!-- <div class="top-bar">
    <div class="registroRestaurante">
      <a (click)="openRegisterRestaurantDialog()" class="registroButton"
        >Registrar mi restaurante</a
      >
    </div>
  </div> -->
  <div class="container">
    <a routerLink="">
      <img class="logo" src="/assets/logo.png" alt="" />
    </a>
    <div class="busqueda">
      <input
        class="searchinput"
        type="text"
        placeholder="Buscar platillos..."
        #searchBox
        />
      <button mat-icon-button class="searchbutton" (click)="goToSearch(`/nombre/${searchBox.value}`)">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="acciones">
      <nav class="navigation">

        <a class="navButton" routerLink="/search">Platos</a>

        <a class="navButton"  routerLink="/restaurantes">Restaurantes</a>
        <a *ngIf="loggedIn" routerLink="/MiRestaurante" class="navButton">Mi restaurante</a>
        <a *ngIf="loggedIn" routerLink="/crear-platos" class="navButton">Crear platos</a>
      </nav>

      <!-- mostrar si no esta logueado -->




              <button *ngIf=" !loggedIn"  (click)="openLoginDialog()" class="loginbutton">Log In</button>
              <button *ngIf=" !loggedIn"  (click)="openRegisterDialog()" class="signupbutton">
                Sign Up
              </button>


      <!-- mostrar si esta logueado -->

      <div *ngIf=" loggedIn">


        <button  (click)="logout()" class="signupbutton">
          Log Out
        </button>
      </div>
    </div>
  </div>
</header>
