<header>
  <!-- <div class="top-bar">
    <div class="registroRestaurante">
      <a (click)="openRegisterRestaurantDialog()" class="registroButton"
        >Registrar mi restaurante</a
      >
    </div>
  </div> -->
  <div class="container">
    <a href="">
      <img class="logo" src="/assets/logo.png" alt="" />
    </a>
    <div class="busqueda">
      <input
        class="searchinput"
        type="text"
        />
      <button mat-icon-button class="searchbutton" (click)="goToSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="acciones">
      <nav class="navigation">

        <a class="platosbutton" (click)="goPlatos()">Platos</a>

        <a class="Restaurantesbutton" (click)="goRestaurantes()">Restaurantes</a>
      </nav>

      <!-- mostrar si no esta logueado -->

      <div *ngIf=" !loggedIn">

        
              <button  (click)="openLoginDialog()" class="loginbutton">Log In</button>
              <button  (click)="openRegisterDialog()" class="signupbutton">
                Sign Up
              </button>
      </div>

      <!-- mostrar si esta logueado -->

      <div *ngIf=" loggedIn">

        
        <button  (click)="logout()" class="signupbutton">
          Log Out
        </button>
      </div>
    </div>
  </div>
</header>
