.container {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  flex: 1;
}

.logo {
  flex: 1;
}

.busqueda {
  display: flex;
  justify-content: center;
  flex: 2;
}

.navigation {
  background-color: green;
  padding: 5px;
}

.navigation a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 23px;
  color: black;
}
.registroRestaurante {
  position: fixed;
  top: 10px;
  right: 10px;
}
