<google-map
  height="100%"
  width="100%"
  [options]="mapOptions"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)">
  <!-- <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label">
  </map-marker> -->

  @for (mark of restaurantesRetrieved; track mark.id_restaurante) {
      <map-advanced-marker [position]="{
        lat: mark.latitude,
        lng: mark.longitude
      }" [options]="advancedMarkerOptions"
       (mapClick)="openInfoWindow(marker, mark)"
       #marker="mapAdvancedMarker"
       />
    }

  <map-info-window #infoWindow>
    <h3>{{ selectedMark?.nombre }}</h3>
    <p>{{selectedMark?.domicilio}}</p>
    <a [href]="'https://www.google.com/maps/@' + selectedMark?.latitude + 'z,'+ selectedMark?.longitude + ',9z'"  target="_blank" rel="noopener noreferrer" class="link-btn">
      🌐 Ir a Google Maps
    </a>
  </map-info-window>

  <!-- <map-info-window *ngFor="let marker of markers" #infoWindow>
    {{ marker?.info }}
  </map-info-window> -->
</google-map>
